<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/cadastro.css">
    <title>Kazu Mc</title>
</head>
<body>
   <main>
       <div vw class="enabled">
           <div vw-access-button class="active"></div>
           <div vw-plugin-wrapper>
             <div class="vw-plugin-top-wrapper"></div>
           </div>
         </div>
    <form action="/">
      <label id="ola">Para se cadastrar:</label>
      <label for="text" id="nome">Digite seu nome:</label>
      <input type="text" id="nome">
      <label for="text" id="email">Digite seu email:</label>
      <input type="email" id="email">
      <label for="text" id="senha">Digite sua senha:</label>
      <input type="password" id="senha">
      <label for="text" id="senha"> Repita sua senha:</label>
      <input type="password" id="senha">
        <button type="submit" id="cadastrar">cadastrar</button>
      <a href="/entrar">jรก possui conta?</a>
    </form >
   </main>
   <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
</body>
</html>