<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/login.css">
    <title>Kazu Mc</title>
</head>
<body>
   <main>
    <form action="/">
        <label id="ola">Olá <br> por favor digite <br> seu nome <br> ou <br> apelido:</label>
        <input type="text" id="nome">
        <button type="submit" id="entrar">entrar</button>
    </form >
   </main>
</body>
</html>