body {
    background-color: rgb(16, 16, 16);
    margin: 0%;
    display: grid;
    width: 100%;
    /* min-width: 1171px;  */
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        'header'
        'letras_e_som'
        'youtube'
        'sobre'
        'footer';
        overflow-y:scroll ;
}
body::-webkit-scrollbar {
    /* width: 40px; */
    background-color: #000000d3;
}

body::-webkit-scrollbar-thumb {
    background-color: #dedcdca1;
    /* border-radius: 20px; */
    border: 1px solid #1212123d;
    height: 20px;
}

body::-webkit-scrollbar-track {
    background: #7777772b;
    width: 1px;
}
header {
    grid-area: header;
    background-color: rgb(2 2 2 / 96%);
    height: 300px;
    width: 100%;
    color: white;
    font-family: 'Raleway Dots', cursive;
}

#primeira_linha {
    display: flex;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
}

#primeira_linha>#titulo {
    font-size: 40px;
    margin: 0%;
    margin-left: 20px;
    height: fit-content;
    text-shadow: white;
}

#primeira_linha>#salve {
    margin: 0 auto;
    margin-right: 20px;
    /* display: flex; */
    font-size: 20px;
    justify-content: flex-end;
    height: fit-content;
   white-space: nowrap;
   overflow: hidden;
}
#primeira_linha>#salve {
    border-right: rgba(255, 255, 255, 0.227) 1px solid;
    animation:cursor 500ms steps(70) infinite normal, typing 4s steps(40) 1s normal both;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 11em;
    }
}
@keyframes cursor{
    from{border-right: rgba(255, 255, 255, 0.145) 1px solid;}
    to{border-right: transparent}
}
#conteiner_opcoes {
    display: grid;
    list-style: none;
    text-decoration: none;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}

#conteiner_opcoes>li>a {
    display: flex;
    justify-content: center;
    margin-top: 160px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;

}
#conteiner_opcoes>li>a:hover{
    background-color: rgba(255, 255, 255, 0.048);
    
}
#letras_e_som {
    display: flex;
    grid-area: letras_e_som;
}

#letras {
    grid-area: letras;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: rgb(138, 138, 138);
    border-top: 5px double rgba(156, 154, 154, 0.833);
    border-bottom: 5px double rgba(63, 61, 61, 0.45);
    height: 750px;
    width: 45%;


    background-size: cover;
    /* font-family: 'Raleway Dots', cursive; */
}

#letra-da-musica {
    overflow-y: scroll;
    height: 370px;
    padding: 20px 30px 0px 40px;
    margin: 50px 40px 80px;
    font-size: large;
}

#letra-da-musica::-webkit-scrollbar {
    /* width: 40px; */
    background-color: #f0f8ff03;
    border: 2px #00000008 solid;
}

#letra-da-musica::-webkit-scrollbar-thumb {
    background-color: #959595;
    /* border-radius: 20px; */
    border: 1px solid #1212123d;
    height: 20px;
}

#letra-da-musica::-webkit-scrollbar-track {
    background: #37373700;
    width: 1px;
}

h3 {
    font-family: 'Raleway Dots', cursive;
    font-size: 45px;
    font-weight: normal;

}

.linha-verde {
    border-bottom: rgba(51, 112, 31, 0.291) solid 1px;
    border-radius: 94px;
}

p {
    margin-bottom: 30px;
}

#som {
    grid-area: som;
    background-image: url(../img/jonas-preto-branco.jpg);
    border: 5px double rgba(156, 154, 154, 0.325);
    border-right: none;
    border-left: 0;
    margin: 0;
    width: 55%;
    background-size: cover;
    display: flex;
}

#overflow_musicas {
    background-color: rgba(255, 255, 0, 0);
    overflow-y: scroll;
    padding-right: 30px;
    height: 400px;
    width: max-content;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: auto;
}

#overflow_musicas::-webkit-scrollbar {
    /* width: 40px; */
    background-color: #f0f8ff00;
    border: #8080802b 1px solid;
    /* height: fit-content;*/
}

#overflow_musicas::-webkit-scrollbar-thumb {
    background-color: #050704;
    /* border-radius: 20px; */
    border: 1px solid rgba(208, 208, 208, 0.24);
    ;
    height: 20px;
}

#overflow_musicas::-webkit-scrollbar-track {
    background: #37373700;
    width: 1px;
}

#tocador {
    font-size: 16px;
    background-color: rgba(68, 81, 69, 1);
    border-radius: 30px;
    border: 1px solid rgba(32, 137, 36, 0.27);
    list-style: none;
    height: 20px;
    width: 400px;
    min-width: 300px;
    margin-bottom: 10px;
    margin-left: 12px;
    padding: 10px 0 7px 30px;
}
#tocador:hover{
    background-color: rgb(51, 57, 51);
    border:none;

}
ul {
    padding: 0;
}

#link-youtube {
    grid-area: youtube;
    background-color: rgba(24, 26, 23, 1);
    background-color: rgba(17, 16, 16, 0.858);

    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-link>a {
    font-size: 25px;
    color: white;
    font-family: 'Raleway Dots', cursive;
    text-decoration: none;

}

img {
    height: 50px;
    width: 59px;
    margin-right: 70px;
}

#sobre {
    grid-area: sobre;
    height: 350px;
    background-color: rgba(60, 84, 56, 0.119);

    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(123, 114, 114);
    text-align: center;

    border-top: 5px ridge rgba(48, 44, 44, 0.271);
    border-bottom: 5px ridge rgba(48, 44, 44, 0.271);

    /* border-bottom: 7px rgba(0, 0, 0, 0.278) ridge; */
    padding-top: 30px;
    padding-bottom: 30px;
}
#frase{
    font-size: 17px;
    color: rgb(123, 114, 114);
}

#icones_jonas{
   border-top: rgba(255, 255, 255, 0.017) 1px solid;
}
#icones_jonas>a>img:hover{
    background-color: rgba(210, 241, 245, 0.083);
    
}
#instagram{
    height: 38px;
    width: 50px;
    margin-bottom: 3px;
    padding: 4px;
}

.informacoes_geo {
    grid-area: footer;
    
    height: 220px;
    font-family: 'Press Start 2P', cursiva;
    padding-top: 20px;
   
    background-color: rgba(164, 131, 189, 0.466);
    border: rgba(248, 0, 0, 0.423) 4px groove;
    border-top: 20px rgba(0, 0, 0, 0.093) solid;
    font-size: larger;
    margin-top: 60px;
    
}

.informacoes_geo>ul{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    align-self: center;
    
    background-color: #987eaf60;
    padding:10px 0 20px 0 ;
}
.informacoes_geo>ul>li{
    list-style: none;
    padding-bottom: 20px;
    
}
#desenvolvedora{
    margin-left:0 ;
    align-self:center;
    font-size: 13px;
    width:fit-content;
    color: rgba(0, 0, 0, 0.622);
    -webkit-text-stroke: 1px rgb(0, 0, 0);

}
#geovanna{
/* position: absolute */
width: fit-content;
height: 52px;
color: rgba(255, 255, 255, 0.101);
-webkit-text-stroke: 1px #FFF;
font-weight: 400;
font-size: 24px;
line-height: 48px;
}
#press{
    color: white;
    padding-bottom: 15px;
    font-size: 10px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.406);
}
#icons{
    display: flex;
    flex-direction: row;
    padding-left: 75px;
    list-style: none;
}

#git{
    border: ridge 3px  rgba(17, 210, 36, 0.498) ; 
    background-color: rgba(255, 255, 255, 0.597);
    height: 30px;
    width: 35px;
    animation-name: animacao_git;
    animation-duration: 2s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
#git:hover{
    border: ridge 3px  rgba(238, 214, 0, 0.932); 
    background-color: rgba(255, 255, 255, 0.745);
    animation-play-state: paused;
}
#linkedin{
    border: ridge 3px  rgba(17, 210, 36, 0.52); 
    background-color: rgba(255, 255, 255, 0.597);
    height: 22px;
    width: 22px;
    padding: 4px 8px 4px 8px;
    animation-name: animacao_linkedin;
    animation-duration: 2s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    }
#linkedin:hover{
    border: ridge 3px  rgba(238, 214, 0, 0.826); 
    background-color: rgba(255, 255, 255, 0.823);
    animation-play-state: paused;

}
@keyframes animacao_git{
    to{
        height: 30px;
        width: 35px;}
    from{opacity:0% ;
    box-shadow: #050704 10px inset ;}
}
@keyframes animacao_linkedin{
    to{
        height: 22px;
        width: 22px;
        padding: 4px 8px 4px 8px;
    }
    from{
        opacity:0% ;
    }
}

@media(max-width:991px) {
    
    #letras_e_som{
        display: flex;
        flex-direction:column-reverse;
    }
    #letras_e_som>#letras{
        width: 100%;
    }
    #letras_e_som>#som{
        padding: 30px;
        height: 500px;
        width: auto;
    }
} 
@media(max-width:588px){
    header>#conteiner_opcoes,#primeira_linha{
        height: fit-content;
    }
    header>#conteiner_opcoes>li>a{
        margin-top: 20px;
        font-size: 14px;
        gap: 2px;
        width: fit-content;
    }
}
@media(max-width:501px){
    header{
        height: 20px;
    }
    header>#primeira_linha{
        display: inline-block;
        flex-direction: column;
    }
    header>#primeira_linha>#titulo{
        font-size: 35px;
    }
    header>#primeira_linha>#salve{
        font-size:small;
    }
    header>#conteiner_opcoes{
        gap: 2px;
    }
    header>#conteiner_opcoes>li>a{
        margin-top: 20px;
        font-size: small;
        gap: 2px;
    }
}
