@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
}
#conteiner{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header header header header"
    "letras letras som som"
    "link-youtube link-youtube link-youtube link-youtube"
    "sobre sobre sobre sobre"
    "footer footer footer footer";
}
#header{
    grid-area: header;
    background-color: rgb(2 2 2 / 96%);
    height: 300px;
    width: auto;
}
#letras{
    grid-area: letras;
    background-color: rgba(0, 0, 0, 0.34);
    border: 5px solid white;
    border-left: none;
    border-right: none;
    height: 700px;
    text-align: center;
    width: 520px;
    background-size: cover;
    /* font-family: 'Raleway Dots', cursive; */
}
#letra-da-musica{
    overflow-y: scroll;
    height: 270px;
    padding: 20px 30px 40px 40px;
    margin: 50px 40px 80px;
}
#letra-da-musica::-webkit-scrollbar {
    /* width: 40px; */
    background-color: #f0f8ff03;
    border: 2px #00000008 solid;
}

#letra-da-musica::-webkit-scrollbar-thumb {
    background-color: #959595;
    /* border-radius: 20px; */
    border: 1px solid #1212123d;
    height: 20px;
}
#letra-da-musica::-webkit-scrollbar-track {
    background: #37373700;
    width: 1px;
}

h3{
    font-family:'Raleway Dots', 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight:normal;

}
.linha-verde{
    border-bottom: rgba(51, 112, 31, 0.291) solid 1px;
    border-radius: 94px;
}
p{
    margin-bottom: 30px;
}

#som{
    grid-area: som;
    display: flex;
    background-image: url(./jonas-preto-branco.jpg);
    border: 5px solid white;
    border-right: none;
    border-left: 0;
    margin: 0;
    height: 700px;
    width: 695px;
    background-size: cover;

}
#elipse{
    background-color: rgb(60 57 57 / 15%);
    height: 326px;
    width: 498px;
    margin: 85px 1px 0px 109px;
    padding: 93px 45px 80px 46px;
    border-radius: 501px 584px 906px 778px;
    overflow-y: auto;
}

#elipse::-webkit-scrollbar {
        /* width: 40px; */
        background-color: #f0f8ff00;
        border: #8080802b 1px solid;
        /* height: fit-content;*/
}

#elipse::-webkit-scrollbar-thumb {
background-color: #050704;
    /* border-radius: 20px; */
    border: 1px solid rgba(208, 208, 208, 0.24);;
    height: 20px;
}
#elipse::-webkit-scrollbar-track {
    background: #37373700;
    width: 1px;
}
ul{
    padding: 0;
}
#tocador{
    background-color: rgba(68, 81, 69, 1);
    border-radius: 30px;
    border: 1px solid rgba(32, 137, 36, 0.27);
    list-style: none;
    height: auto;
    
    margin-bottom: 10px;
    padding: 10px 0 7px 30px;
}
#tocador:hover{
    background-color: rgba(68, 81, 69, 1);
    border: 7px solid rgba(32, 137, 36, 0);
}

#link-youtube{
    grid-area: link-youtube;
    background-color: rgba(24, 26, 23, 1);
    height: 90px;
    width: 1223px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.o-link>a{
    font-size: 25px;
    color: white;
    font-family:'Raleway Dots', cursive;
    text-decoration:none;

}
img{
    height: 50px;
    width: 59px;
    margin-right: 70px;
}
#sobre{
    grid-area: sobre;
    background-color: burlywood;
}
#footer{
    grid-area: footer;
    background-color: pink;
}