body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
}
#conteiner{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "letras letras som som"
    "sobre sobre sobre sobre"
    "footer footer footer footer";
}
#header{
    grid-area: header;
    background-color: rgba(24, 26, 23, 1);
    height: 300px;
    width: auto;
}
#letras{
    grid-area: letras;
    background-color: rgba(0, 0, 0, 0.34);
    border: 7px white solid;
    height: 900px;
    width: 50%;
    text-align: center;
}
#som{
    grid-area: som;
    display: flex;
    background-image: url("./25440159_2005831052768346_411410525247773767_o.jpg");
    
    border: 7px white solid;

}
#elipse{
    background-color: rgb(228 241 254 / 27%);
    height: 300px;
    width: 500px;
    margin: 160px 60px 60px 60px;
    padding: 60px 30px;
}
ul{
    padding: 0;
}
#tocador{
    background-color: rgba(68, 81, 69, 1);
    border-radius: 30px;
    border: 1px solid rgba(32, 137, 36, 0.27);
    list-style: none;
    height: auto;
    
    margin-bottom: 5px;
    padding: 7px 0 7px 30px;
}
#tocador:hover{
    background-color: rgba(68, 81, 69, 1);
    border: 7px solid rgba(32, 137, 36, 0);
}
#sobre{
    grid-area: sobre;
    background-color: burlywood;
}
#footer{
    grid-area: footer;
    background-color: pink;
}